html
  head
    link(rel="stylesheet" href="../css/style.css")
    title!= title
  body
    header
      nav.nav.little-bar
        div.title
          a(href='#') Pick ban simulator
        div.tutoriel
          div.button.primary
            a(href='#') Tutoriel
    h1!= error
    h3!= notFound
