html
  head
    link(rel="stylesheet" href="../css/style.css")
    title!= title
  body
    header
      nav.nav.little-bar
        div.title
          a(href='/') Pick ban simulator
        div.tutoriel
          div.button.primary
            a(href='#') Tutoriel
    h1!= message

    section
      div#bluePlayers
        div.player1
          h4  Joueur 1
          p#player1
        div.player2
          h4  Joueur 2
          p#player2
        div.player3
          h4  Joueur 3
          p#player3
        div.player4
          h4  Joueur 4
          p#player4
        div.player5
          h4  Joueur 5
          p#player5

    script(src="/socket.io/socket.io.js")
    script(src="../js/socket/clientOverview.js")
