/*---------------------------------------------------------*/
/*--------------GENERAL CONFIG-----------------------------*/
/*---------------------------------------------------------*/
a{
  text-decoration: none;
  color: inherit;
}
.button{
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
}
.button:hover{
    background-color: #006bff;
}
.primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.secondary {
    color: #fff;
    background-color: #848D94;
    border-color: #848D94;
}
.nav{
  display: flex;
  justify-content: space-around;
}
/*---------------------------------------------------------*/
/*--------------THE WEBSITE--------------------------------*/
/*---------------------------------------------------------*/
.title a {
  color: blue;
}
/*---------------------------------------------------------*/
/*--------------CONTROLLER---------------------------------*/
/*---------------------------------------------------------*/
.off{
  display: none;
}

.active{
  display: block;
}
form{
  width: 100%;
}
span{
  display: inline-flex;
  margin: 5px;
}
input[type=radio]{
  display: none;
}

.pb1:checked + .lpb1 {
  color: #f00;
  font-style: normal;
  box-shadow: 3px 3px 3px black;
}

.pb2:checked + .lpb2{
  color: blue;
  font-style: normal;
  box-shadow: 3px 3px 3px black;
}
.pb3:checked + .lpb3 {
  color: green;
  font-style: normal;
  box-shadow: 3px 3px 3px black;
}

.pb4:checked + .lpb4{
  color: purple;
  font-style: normal;
  box-shadow: 3px 3px 3px black;
}

.pb5:checked + .lpb5{
  color: pink;
  font-style: normal;
  box-shadow: 3px 3px 3px black;
}
/*---------------------------------------------------------*/
/*--------------CONTROLLER---------------------------------*/
/*---------------------------------------------------------*/
#bluePlayers{
  display: flex;
  justify-content: space-around;
}
